## Question 1

In [8]:
# Import Requird Libraries
import selenium
import pandas as pd
from selenium import webdriver

import warnings
warnings.filterwarnings('ignore')

In [9]:
# Initialize Chrome Web Driver
driver = webdriver.Chrome(r"C:\Users\Bhabani\Downloads\chromedriver_win32\chromedriver.exe")

In [10]:
# Open Naukri Portal https://www.naukri.com/
driver.get("https://www.naukri.com/")

In [11]:
# Find Search Job input field by id
search_job=driver.find_element_by_id("qsb-keyword-sugg")
# Input text "Data Analyst"
search_job.send_keys("Data Analyst")
#  Find location field element by xpath
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
# Input text "Bangalore"
search_loc.send_keys("Bangalore")

In [12]:
# Find Search Button and click on it
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [13]:
# Initialise the Job search list for titles,company,location and experience
job_list=[]
company_list=[]
locations_list=[]
experience_list=[]

chatbot=driver.find_element_by_xpath("//div[@class='crossIcon chatBot chatBot-ic-cross']")
chatbot.click()

In [14]:
# Find the all the tags for the Job title via xpath and print to check
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="8b3b05498dc786e3dd023f24400acd46", element="3620de11-3694-4315-a7eb-c887303d11ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b3b05498dc786e3dd023f24400acd46", element="43b867d6-6c6a-4079-a9f7-a644342d4383")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b3b05498dc786e3dd023f24400acd46", element="867ff8f4-7717-431a-8303-8933e32bf7fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b3b05498dc786e3dd023f24400acd46", element="1ca918fb-a3f0-49b6-8150-7da78184aba7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b3b05498dc786e3dd023f24400acd46", element="942a52cd-6c29-4910-a1f2-15e4cb3d079e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b3b05498dc786e3dd023f24400acd46", element="11f2a858-5076-4a5f-8823-94381dc08417")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b3b05498dc786e3dd023f24400acd46", element="3f342b02-4102-4290-b415-0899861e920a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b3b05498dc786e3dd023f24400acd46", element="52d586fa-4d43-4292-ae1f-90d506a7869d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b3b05498dc786e3dd023f24400acd46", element="e67c501d-cdd0-4194-8ed6-2c98566cb4ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b3b05498dc786e3dd023f24400acd46", element="f5bd0865-3138-4e28-a7be-6120f1a78d96")>]

In [15]:
# From the title tags get the text data in a loop and then print to check
for i in title_tags:
    job_list.append(i.text)
job_list[0:10]

['Senior Business Data Analyst',
 'Data Analyst - Flipkart Analytics',
 'Business Data Analyst - Database Design/Mining',
 'Urgent Openings For Data Analyst / Business Analyst',
 'Data Analyst',
 'Business Data Analyst(BigId) - Capco - Bangalore',
 'Senior Data Analyst',
 'DATA ANALYST',
 'Data Analyst',
 'Data Analyst - Marketing']

In [16]:
# Find the all the tags for the Job Company via xpath and print to check
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="8b3b05498dc786e3dd023f24400acd46", element="81f99f60-a58e-46c8-b476-e6aefd522d53")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b3b05498dc786e3dd023f24400acd46", element="6da323ba-1432-4629-94e3-6429e34ae779")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b3b05498dc786e3dd023f24400acd46", element="de528314-72a0-4400-8761-c895baf8dbee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b3b05498dc786e3dd023f24400acd46", element="664778a7-0d74-4441-a80e-a238c6283533")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b3b05498dc786e3dd023f24400acd46", element="a651240d-3d5d-4eda-b2a6-fe59e9b99a48")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b3b05498dc786e3dd023f24400acd46", element="ca43e6d3-0188-4a8d-83e5-a15a56fb0f1a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b3b05498dc786e3dd023f24400acd46", element="77e21428-62ef-483e-bbc9-5e3cb79e12f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b3b05498dc786e3dd023f24400acd46", element="8f27eb4f-4922-40ce-9514-4d4146329310")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b3b05498dc786e3dd023f24400acd46", element="18468793-7993-42b7-b9a6-d510c87df596")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b3b05498dc786e3dd023f24400acd46", element="3fd7a026-87e4-45aa-8e74-c8f08c66c70a")>]

In [17]:
# From the company tags get the text data in a loop and then print to check

for i in company_tags:
    company_list.append(i.text)
company_list[0:10]

['Tech Data Advanced Solutions India Pvt Ltd',
 'Flipkart',
 'AugmatrixGo',
 'Flipkart',
 'Rupeek Fintech Pvt Ltd',
 'Capco Technologies Pvt Ltd',
 'ShieldSquare _x001A_',
 'McAfee',
 'CINDREBAY SCHOOL OF FASHION & INTERIOR DESIGN',
 'Capco Technologies Pvt Ltd']

In [18]:
# Find the all the tags for the Job Location via xpath and print to check

location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="8b3b05498dc786e3dd023f24400acd46", element="6ee6730a-5214-4ac8-af19-b8606384027f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b3b05498dc786e3dd023f24400acd46", element="4e821901-3bcd-4c57-a557-d8f60f281847")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b3b05498dc786e3dd023f24400acd46", element="2dbf3edb-7e95-4d65-af51-32bf37bf01bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b3b05498dc786e3dd023f24400acd46", element="6b96c825-d309-4610-8a67-330d3a999598")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b3b05498dc786e3dd023f24400acd46", element="d8f89c57-ea89-416f-83b8-27e49b0523f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b3b05498dc786e3dd023f24400acd46", element="382de950-e80d-426c-9a67-8a24d7c03148")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b3b05498dc786e3dd023f24400acd46", element="e49c5843-0928-4e7a-bb47-50ea7672fabe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b3b05498dc786e3dd023f24400acd46", element="8875ed2d-e016-4fe2-b104-feeb39d6d590")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b3b05498dc786e3dd023f24400acd46", element="6a792ddd-9d74-4113-8772-d94746228095")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b3b05498dc786e3dd023f24400acd46", element="096eb025-3149-490f-9a5a-9ad627bfb10b")>]

In [19]:
# From the location tags get the text data in a loop and then print to check

for i in location_tags:
    locations_list.append(i.text)
locations_list[0:10]

['Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru(Bellandur)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kochi/Cochin, Cannanore/Kannur, Nagpur, Calicut/Kozhikode, Coimbatore, Thodupuzha, Bangalore/Bengaluru, Trivandrum/Thiruvananthapuram',
 'Bangalore/Bengaluru']

In [20]:
# Find the all the tags for the Job Experience via xpath and print to check

experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="8b3b05498dc786e3dd023f24400acd46", element="0ec3af7f-bcfe-4298-a2c5-a3c7bc0dbbf4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b3b05498dc786e3dd023f24400acd46", element="a3af7cad-023c-4eaf-8d27-21cc606bf413")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b3b05498dc786e3dd023f24400acd46", element="cadbd535-022a-4ea4-9894-f7725cb1f412")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b3b05498dc786e3dd023f24400acd46", element="f6f4d5b7-7f2b-4ea8-8740-1bc31dd37026")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b3b05498dc786e3dd023f24400acd46", element="7c625f14-adc1-4000-b84d-e412304a60a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b3b05498dc786e3dd023f24400acd46", element="c75999d6-1100-4e45-b7d2-50a316477313")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b3b05498dc786e3dd023f24400acd46", element="3580501e-3137-4dc9-8392-f24a7b8f5990")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b3b05498dc786e3dd023f24400acd46", element="d52de84d-a944-4f0d-bbc6-ace41e8d1885")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b3b05498dc786e3dd023f24400acd46", element="28a6d1d5-cfe5-4a7e-9438-7ed5547de037")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8b3b05498dc786e3dd023f24400acd46", element="f1957c1a-4cc6-4892-b167-921b39630794")>]

In [21]:
# From the experience tags get the text data in a loop and then print to check

for i in experience_tags:
    experience_list.append(i.text)
experience_list[0:10]

['3-8 Yrs',
 '0-3 Yrs',
 '2-5 Yrs',
 '1-6 Yrs',
 '0-2 Yrs',
 '3-8 Yrs',
 '5-10 Yrs',
 '2-7 Yrs',
 '1-4 Yrs',
 '3-6 Yrs']

In [22]:
# Check the length of the list of each element
print(len(job_list),len(company_list),len(locations_list),len(experience_list))

20 20 20 20

In [23]:
#Create DataFrame from the Top 10 Data and display

job = pd.DataFrame({})
job['Title'] = job_list[0:10]
job['Company Name'] = company_list[0:10]
job['Location'] = locations_list[0:10]
job['Experience'] = experience_list[0:10]

job

,Title,Company Name,Location,Experience
0,Senior Business Data Analyst,Tech Data Advanced Solutions India Pvt Ltd,"Bangalore/Bengaluru, Mumbai (All Areas)",3-8 Yrs
1,Data Analyst - Flipkart Analytics,Flipkart,Bangalore/Bengaluru(Bellandur),0-3 Yrs
2,Business Data Analyst - Database Design/Mining,AugmatrixGo,Bangalore/Bengaluru,2-5 Yrs
3,Urgent Openings For Data Analyst / Business An...,Flipkart,Bangalore/Bengaluru,1-6 Yrs
4,Data Analyst,Rupeek Fintech Pvt Ltd,Bangalore/Bengaluru,0-2 Yrs
5,Business Data Analyst(BigId) - Capco - Bangalore,Capco Technologies Pvt Ltd,Bangalore/Bengaluru,3-8 Yrs
6,Senior Data Analyst,ShieldSquare _x001A_,Bangalore/Bengaluru,5-10 Yrs
7,DATA ANALYST,McAfee,Bangalore/Bengaluru,2-7 Yrs
8,Data Analyst,CINDREBAY SCHOOL OF FASHION & INTERIOR DESIGN,"Kochi/Cochin, Cannanore/Kannur, Nagpur, Calicu...",1-4 Yrs
9,Data Analyst - Marketing,Capco Technologies Pvt Ltd,Bangalore/Bengaluru,3-6 Yrs

## Question 2

In [24]:
# Initialize Chrome Web Driver
driver = webdriver.Chrome(r"C:\Users\Bhabani\Downloads\chromedriver_win32\chromedriver.exe")

In [25]:
# Open Naukri Portal https://www.naukri.com/
driver.get("https://www.naukri.com/")

In [26]:
# Find Search Job input field by id
search_job=driver.find_element_by_id("qsb-keyword-sugg")
# Input text "Data Analyst"
search_job.send_keys("Data Scientist")
#  Find location field element by xpath
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
# Input text "Bangalore"
search_loc.send_keys("Bangalore")

In [27]:
# Find Search Button and click on it
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [28]:
# Initialise the Job search list for titles,company,location and experience
job_list=[]
company_list=[]
locations_list=[]
experience_list=[]

chatbot=driver.find_element_by_xpath("//div[@class='crossIcon chatBot chatBot-ic-cross']")
chatbot.click()

In [30]:
# Find the all the tags for the Job title via xpath and print to check
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [31]:
# From the title tags get the text data in a loop and then print to check
for i in title_tags:
    job_list.append(i.text)
job_list[0:10]

['Senior Data Scientist',
 'Data Scientist: Advanced Analytics',
 'Senior Data Scientist',
 'Senior Data Scientist | Fortune 500 Supermarket Chain',
 'Senior Data Scientist',
 'Senior Data Scientist- Data & Analytics',
 'Forecasting Analyst/ Data Scientist (US Client)',
 'Data Scientist',
 'Process Innovation Analyst - APAC/Data Scientist - Third Party Role',
 'Data Scientist']

In [32]:
# Find the all the tags for the Job Company via xpath and print to check
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

# From the company tags get the text data in a loop and then print to check

for i in company_tags:
    company_list.append(i.text)
company_list[0:10]

['IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Razorpay',
 'TALENT500 TECH (INDIA) PRIVATE LIMITED',
 'Hitachi Ltd.',
 'ExecBoardinAsia',
 'Concentrix Daksh Services',
 'Toppr',
 'Bayer',
 'Hitachi Ltd.']

In [33]:
# Find the all the tags for the Job Location via xpath and print to check

location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

# From the location tags get the text data in a loop and then print to check

for i in location_tags:
    locations_list.append(i.text)
locations_list[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Hyderabad',
 'Bangalore/Bengaluru']

In [34]:
# Find the all the tags for the Job Experience via xpath and print to check

experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

# From the experience tags get the text data in a loop and then print to check

for i in experience_tags:
    experience_list.append(i.text)
experience_list[0:10]

['5-10 Yrs',
 '5-10 Yrs',
 '4-6 Yrs',
 '7-10 Yrs',
 '2-5 Yrs',
 '5-10 Yrs',
 '3-8 Yrs',
 '1-3 Yrs',
 '4-8 Yrs',
 '3-7 Yrs']

In [35]:
# Check the length of the list of each element
print(len(job_list),len(company_list),len(locations_list),len(experience_list))

20 20 20 20

In [36]:
#Create DataFrame from the Top 10 Data and display

job = pd.DataFrame({})
job['Title'] = job_list[0:10]
job['Company Name'] = company_list[0:10]
job['Location'] = locations_list[0:10]
job['Experience'] = experience_list[0:10]

job

,Title,Company Name,Location,Experience
0,Senior Data Scientist,IBM India Pvt. Limited,Bangalore/Bengaluru,5-10 Yrs
1,Data Scientist: Advanced Analytics,IBM India Pvt. Limited,Bangalore/Bengaluru,5-10 Yrs
2,Senior Data Scientist,Razorpay,Bangalore/Bengaluru,4-6 Yrs
3,Senior Data Scientist | Fortune 500 Supermarke...,TALENT500 TECH (INDIA) PRIVATE LIMITED,Bangalore/Bengaluru,7-10 Yrs
4,Senior Data Scientist,Hitachi Ltd.,Bangalore/Bengaluru,2-5 Yrs
5,Senior Data Scientist- Data & Analytics,ExecBoardinAsia,Bangalore/Bengaluru,5-10 Yrs
6,Forecasting Analyst/ Data Scientist (US Client),Concentrix Daksh Services,"Gurgaon/Gurugram, Bangalore/Bengaluru",3-8 Yrs
7,Data Scientist,Toppr,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...",1-3 Yrs
8,Process Innovation Analyst - APAC/Data Scienti...,Bayer,"Bangalore/Bengaluru, Hyderabad",4-8 Yrs
9,Data Scientist,Hitachi Ltd.,Bangalore/Bengaluru,3-7 Yrs

## Question 3

In [37]:
# Initialize Chrome Web Driver
driver = webdriver.Chrome(r"C:\Users\Bhabani\Downloads\chromedriver_win32\chromedriver.exe")

In [38]:
# Open Naukri Portal https://www.naukri.com/
driver.get("https://www.naukri.com/")

In [39]:
# Find Search Job input field by id
search_job=driver.find_element_by_id("qsb-keyword-sugg")
# Input text "Data Analyst"
search_job.send_keys("Data Scientist")

In [40]:
# Find Search Button and click on it
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [41]:
chatbot=driver.find_element_by_xpath("//div[@class='crossIcon chatBot chatBot-ic-cross']")
chatbot.click()

In [42]:
# Use the Location Filter
loc_filter = driver.find_elements_by_xpath("//div[@data-filter-id='citiesGid']/div")
loc_filter[2].click()
url = driver.current_url
print(url)
driver.get(url)

https://www.naukri.com/data-scientist-jobs?k=data%20scientist&cityTypeGid=9508

In [43]:
# Use the Salary Filter
salary_filter = driver.find_elements_by_xpath("//div[@data-filter-id='salaryRange']/div")
salary_filter[1].click()
#salary_filter.click()

In [44]:
url = driver.current_url
print(url)
driver.get(url)

https://www.naukri.com/data-scientist-jobs?k=data%20scientist&cityTypeGid=9508&ctcFilter=3to6

In [45]:
# Initialise the Job search list for titles,company,location and experience
job_list=[]
company_list=[]
locations_list=[]
experience_list=[]

In [46]:
# Find the all the tags for the Job title via xpath and print to check
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

# From the title tags get the text data in a loop and then print to check
for i in title_tags:
    job_list.append(i.text)
job_list[0:10]

['Data Scientist - Insurance',
 'Job Opportunity || Data Scientist || HCL Technologies',
 'Data Scientist',
 'Data Scientist III-2',
 'Data Scientist',
 'Data Scientist',
 'Urgent Hiring || Data Scientist || Delhi',
 'Data Scientist',
 'Data Scientist Internship',
 'Data Scientist']

In [47]:
# Find the all the tags for the Job Company via xpath and print to check
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

# From the company tags get the text data in a loop and then print to check

for i in company_tags:
    company_list.append(i.text)
company_list[0:10]

['Huquo Consulting Pvt. Ltd',
 'HCL Technologies',
 'ThinkBumblebee Analytics Pvt. Ltd.',
 'Concentrix Daksh Services',
 'MoMagic Technologies Pvt. Ltd.',
 'MoMagic Technologies Pvt. Ltd.',
 'Shriram Automall India Limited',
 'Think i',
 'iHackers Inc',
 'Optum Global Solutions (India) Private Limited']

In [48]:
# Find the all the tags for the Job Location via xpath and print to check

location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

# From the location tags get the text data in a loop and then print to check

for i in location_tags:
    locations_list.append(i.text)
locations_list[0:10]

['Noida, Gurgaon/Gurugram',
 'Delhi / NCR',
 'Pune, Bangalore/Bengaluru, Delhi / NCR',
 'Gurgaon/Gurugram',
 'Noida(Sector-126 Noida)',
 'Noida(Sector-126 Noida)',
 'Delhi / NCR',
 'Kochi/Cochin, Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'New Delhi',
 'Noida, Gurgaon/Gurugram']

In [49]:
# Find the all the tags for the Job Experience via xpath and print to check

experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

# From the experience tags get the text data in a loop and then print to check

for i in experience_tags:
    experience_list.append(i.text)
experience_list[0:10]

['2-7 Yrs',
 '4-7 Yrs',
 '2-6 Yrs',
 '3-8 Yrs',
 '4-6 Yrs',
 '4-6 Yrs',
 '2-7 Yrs',
 '0-2 Yrs',
 '0-1 Yrs',
 '2-6 Yrs']

In [50]:
# Check the length of the list of each element
print(len(job_list),len(company_list),len(locations_list),len(experience_list))

20 20 20 20

In [51]:
#Create DataFrame from the Top 10 Data and display

job = pd.DataFrame({})
job['Title'] = job_list[0:10]
job['Company Name'] = company_list[0:10]
job['Location'] = locations_list[0:10]
job['Experience'] = experience_list[0:10]

job

,Title,Company Name,Location,Experience
0,Data Scientist - Insurance,Huquo Consulting Pvt. Ltd,"Noida, Gurgaon/Gurugram",2-7 Yrs
1,Job Opportunity || Data Scientist || HCL Techn...,HCL Technologies,Delhi / NCR,4-7 Yrs
2,Data Scientist,ThinkBumblebee Analytics Pvt. Ltd.,"Pune, Bangalore/Bengaluru, Delhi / NCR",2-6 Yrs
3,Data Scientist III-2,Concentrix Daksh Services,Gurgaon/Gurugram,3-8 Yrs
4,Data Scientist,MoMagic Technologies Pvt. Ltd.,Noida(Sector-126 Noida),4-6 Yrs
5,Data Scientist,MoMagic Technologies Pvt. Ltd.,Noida(Sector-126 Noida),4-6 Yrs
6,Urgent Hiring || Data Scientist || Delhi,Shriram Automall India Limited,Delhi / NCR,2-7 Yrs
7,Data Scientist,Think i,"Kochi/Cochin, Kolkata, Hyderabad/Secunderabad,...",0-2 Yrs
8,Data Scientist Internship,iHackers Inc,New Delhi,0-1 Yrs
9,Data Scientist,Optum Global Solutions (India) Private Limited,"Noida, Gurgaon/Gurugram",2-6 Yrs

# Question 4

In [53]:
# Initialize Chrome Web Driver
driver = webdriver.Chrome(r"C:\Users\Bhabani\Downloads\chromedriver_win32\chromedriver.exe")
#Open https://www.flipkart.com/
driver.get('https://www.flipkart.com/')

In [55]:
#Searching input for Sunglasses
search = driver.find_element_by_xpath('//input[@placeholder="Search for products, brands and more"]')
search.send_keys("sunglasses")

#Click on the Search Button
search_btn = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_btn.click()

url=driver.current_url
driver.get(url)

In [56]:
#creating empty list
brand_list = []
desc_list = []
price_list = []

#Extract Brand Data
brand_tag = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in brand_tag:
    brand_list.append(i.text)
#Extract Description Data
description_tag = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in description_tag:
    desc_list.append(i.text)
#Extract Price Data
price_tag = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in price_tag:
    price_list.append(i.text)

# Click on Next page
driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()

In [57]:
#get request for next page
url=driver.current_url
driver.get(url)

#Extract Brand Data
brand_tag = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in brand_tag:
    brand_list.append(i.text)
#Extract Description Data
description_tag = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in description_tag:
    desc_list.append(i.text)
#Extract Price Data
price_tag = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in price_tag:
    price_list.append(i.text)

# Click on Next page
driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()

In [58]:
#get request for next page
url=driver.current_url
driver.get(url)

#Extract Brand Data
brand_tag = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in brand_tag:
    brand_list.append(i.text)
#Extract Description Data
description_tag = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in description_tag:
    desc_list.append(i.text)
#Extract Price Data
price_tag = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in price_tag:
    price_list.append(i.text)

In [59]:
print(len(brand_list))
print(len(desc_list))
print(len(price_list))    
# Prepare Data Frame
df = pd.DataFrame({'Brand': brand_list[0:100], 'Description':desc_list[0:100], 'Price': price_list[0:100]})
df

120
117
120

            Brand                                        Description   Price
0            SRPM             UV Protection Wayfarer Sunglasses (56)    ₹188
1          SUNBEE  UV Protection, Polarized, Mirrored Round Sungl...    ₹276
2        Fastrack   UV Protection Rectangular Sunglasses (Free Size)    ₹639
3    Singco India  Gradient, Toughened Glass Lens, UV Protection ...    ₹699
4       Elligator                UV Protection Round Sunglasses (54)    ₹248
..            ...                                                ...     ...
95  VINCENT CHASE  Mirrored, UV Protection, Gradient Round Sungla...    ₹999
96         GANSTA                    Polarized Round Sunglasses (48)    ₹269
97           hipe              UV Protection Aviator Sunglasses (60)    ₹189
98      Rich Club   UV Protection Rectangular Sunglasses (Free Size)    ₹189
99   LOUIS KOUROS  UV Protection Retro Square Sunglasses (Free Size)  ₹1,039

[100 rows x 3 columns]

# Question 5

In [60]:
#creating empty list
rating_list = []
review_list = []
full_review_list = []

#Define Function to Extract data
def ExtarctData(driver):
    #Extract Rating Data
    rating_tag = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    for i in rating_tag:
        rating_list.append(i.text)
    rating_tag = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1rdVr6 _1BLPMq']")
    for i in rating_tag:
        rating_list.append(i.text)
    #Extract Review Summary Data
    summary_tag = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for i in summary_tag:
        review_list.append(i.text)
    #Extract Full Review Data
    fullReview_tag = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for i in fullReview_tag:
        full_review_list.append(i.text)

In [64]:
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
driver.get(url)
# Click on All Reviews
driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']").click()
#get All Review
url=driver.current_url
driver.get(url)
ExtarctData(driver)

# Click on Next page
driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
url=driver.current_url
driver.get(url)
ExtarctData(driver)

# Click on Next page
driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
url=driver.current_url
driver.get(url)
ExtarctData(driver)

# Click on Next page
driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
url=driver.current_url
driver.get(url)
ExtarctData(driver)

# Click on Next page
driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
url=driver.current_url
driver.get(url)
ExtarctData(driver)


# Click on Next page
driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
url=driver.current_url
driver.get(url)
ExtarctData(driver)

# Click on Next page
driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
url=driver.current_url
driver.get(url)
ExtarctData(driver)

# Click on Next page
driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
url=driver.current_url
driver.get(url)
ExtarctData(driver)

# Click on Next page
driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
url=driver.current_url
driver.get(url)
ExtarctData(driver)

# Click on Next page
driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
url=driver.current_url
driver.get(url)
ExtarctData(driver)

print(len(rating_list))
# Prepare Data Frame
df = pd.DataFrame({'Rating': rating_list, 'Review Summary':review_list, 'Full Review': full_review_list})
df

190

,Rating,Review Summary,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Best in the market!,Great iPhone very snappy experience as apple k...
...,...,...,...
185,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
186,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
187,5,Highly recommended,It's my first time to use iOS phone and I am l...
188,5,Worth every penny,It’s been almost a month since I have been usi...
189,5,Worth every penny,"Smooth like butter, camera like fantabulous, s..."

#  Question 6

In [69]:
# Initialize Chrome Web Driver
driver = webdriver.Chrome(r"C:\Users\Bhabani\Downloads\chromedriver_win32\chromedriver.exe")
#Open https://www.flipkart.com/
driver.get('https://www.flipkart.com/')

In [72]:
#Searching Parameter
search = driver.find_element_by_xpath('//input[@placeholder="Search for products, brands and more"]')
search.send_keys("sneakers")

# Search Button
search_btn = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_btn.click()

In [73]:
#creating empty list
brand_list = []
desc_list = []
price_list = []

#Extract Brand, Description and Price Data
item_tag = driver.find_elements_by_xpath("//div[@class='_2B099V']")
for i in item_tag:
    item = i.text.split('\n')
    brand_list.append(item[0])
    desc_list.append(item[1])
    price_list.append(item[2])
# Click on Next page
driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()

#get request for next page
url=driver.current_url
driver.get(url)

In [74]:

#Extract Brand, Description and Price Data
item_tag = driver.find_elements_by_xpath("//div[@class='_2B099V']")
for i in item_tag:
    item = i.text.split('\n')
    brand_list.append(item[0])
    desc_list.append(item[1])
    price_list.append(item[2])

# Click on Next page
driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()

#get request for next page
url=driver.current_url
driver.get(url)

In [75]:


#Extract Brand, Description and Price Data
item_tag = driver.find_elements_by_xpath("//div[@class='_2B099V']")
for i in item_tag:
    item = i.text.split('\n')
    brand_list.append(item[0])
    desc_list.append(item[1])
    price_list.append(item[2])
    
print(len(brand_list))
print(len(desc_list))
print(len(price_list))
# Prepare Data Frame
df = pd.DataFrame({'Brand': brand_list[0:100], 'Description':desc_list[0:100], 'Price': price_list[0:100]})
df

120
120
120

,Brand,Description,Price
0,Airland,shoe Sneakers For Men,₹239₹49952% off
1,ERIX,men and boys Fashion black and red color Outdo...,"₹498₹1,49966% off"
2,Numenzo,Sneakers For Men,"₹479₹1,29963% off"
3,SCATCHITE,Sneakers Sneakers For Men,₹398₹99960% off
4,CALCADOS,Modern Trendy Shoes Combo pack of 4 Sneakers F...,"₹899₹1,99654% off"
...,...,...,...
95,U.S. POLO ASSN.,Sneakers For Men,"₹2,593₹3,99935% off"
96,FOOTGRAB,White Boots || High Tops || Sneakers For Men,₹649₹99935% off
97,Wlinzak,Sneakers For Men,₹499₹99950% off
98,PACIFIER,Sneakers For Men,"₹499₹1,17457% off"
99,Skechers,Ultra Flex 2.0 - Kelmer Sneakers For Men,"₹5,499"

# Question 7

In [76]:
# Initialize Chrome Web Driver
driver = webdriver.Chrome(r"C:\Users\Bhabani\Downloads\chromedriver_win32\chromedriver.exe")
#Open https://www.myntra.com/shoes
driver.get('https://www.myntra.com/shoes')

#Price Filter for Rs. 6649 to Rs. 13099
price_filter = driver.find_elements_by_xpath("//ul[@class='price-list']/li")
price_filter[1].click()

In [77]:

#get request page
url=driver.current_url
driver.get(url)

#Color filter to “Black”
color_filter = driver.find_elements_by_xpath("//div[@class='vertical-filters-filters']/ul/li[@class='colour-listItem']")
color_filter[0].click()



#creating empty list
brand_list = []
desc_list = []
price_list = []

In [78]:


#get request page
url=driver.current_url
driver.get(url)

#Extract Branc , Price and Description data
items_tag = driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']")
for i in items_tag:
    item = i.text.split('\n')
    brand_list.append(item[0])
    desc_list.append(item[1])
    price_list.append(item[2])
    
#Click on Next page
driver.find_element_by_xpath('//a[@rel="next"]').click()

In [79]:
#get request page
url=driver.current_url
driver.get(url)

#Extract Branc , Price and Description data
items_tag = driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']")
for i in items_tag:
    item = i.text.split('\n')
    brand_list.append(item[0])
    desc_list.append(item[1])
    price_list.append(item[2])

# Prepare Data Frame
df = pd.DataFrame({'Brand': brand_list[0:100], 'Description':desc_list[0:100], 'Price': price_list[0:100]})
df

,Brand,Description,Price
0,Nike,Men Zoom Span 4 Running Shoes,Rs. 7195
1,Nike,Men FLIGHT LEGACY Sneakers,Rs. 7995
2,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8099Rs. 8999(10% OFF)
3,Puma,Men Deviate Nitro Running Shoe,Rs. 11249Rs. 14999(25% OFF)
4,Calvin Klein,Men Mid-Top Runner Sneakers,Rs. 8249Rs. 10999(25% OFF)
...,...,...,...
95,J.FONTINI,Men Textured Leather Formal Loafers,Rs. 8990
96,ROSSO BRUNELLO,Men Leather Loafers,Rs. 11499
97,Calvin Klein,Men Solid Suede Sneakers,Rs. 7999
98,DAVINCHI,Men Solid Leather Formal Derbys,Rs. 8990
99,KLEAT,Men Suede Flat Boots,Rs. 8999


# Question 8

In [80]:
# Initialize Chrome Web Driver
driver = webdriver.Chrome(r"C:\Users\Bhabani\Downloads\chromedriver_win32\chromedriver.exe")
#Open https://www.amazon.in/
driver.get('https://www.amazon.in/')

#Searching Parameter
search = driver.find_element_by_xpath('//input[@id="twotabsearchtextbox"]')
search.send_keys("Laptop")

# Search Button
search_btn = driver.find_element_by_xpath('//input[@id="nav-search-submit-button"]')
search_btn.click()

In [81]:
#get Request page
url=driver.current_url
driver.get(url)

#CPU Type filter to “Intel Core i7” and “Intel Core i9”
#“Intel Core i9” not available
driver.find_element_by_xpath('//li[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a').click()

#creating empty list
title_list = []
rating_list = []
price_list = []

In [82]:

#get Request page
url=driver.current_url
driver.get(url)

#Extract Rating Data
title_tag = driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tag:
    title_list.append(i.text)
    
#Extract Rating Data
rating_tag = driver.find_elements_by_xpath('//div[@class="a-section a-spacing-none a-spacing-top-micro"]/div/span')
for i in rating_tag:
    rating = i.get_attribute('aria-label')
    if(rating.find('stars') >= 0):
        rating_list.append(rating)

In [83]:
#Extract Price Data
price_tag = driver.find_elements_by_xpath('//span[@class="a-price"]')
for i in price_tag:
    price_list.append(i.text)

# Prepare Data Frame
df = pd.DataFrame({'Title': title_list[0:10], 'Rating':rating_list[0:10], 'Price': price_list[0:10]})
df

,Title,Rating,Price
0,HP Envy 11th Gen Intel Core i7 14-inch(35.6 cm...,4.3 out of 5 stars,"₹1,23,190"
1,HP Pavilion (2021) Intel 11th Gen Core i7 14 i...,4.7 out of 5 stars,"₹84,990"
2,"ASUS TUF Gaming F17 (2021), 17.3-inch (43.94 c...",4.3 out of 5 stars,"₹1,13,990"
3,HP Pavilion (2021) Intel 11th Gen Core i7 14 i...,4.2 out of 5 stars,"₹84,990"
4,Mi Notebook Horizon Edition 14 Intel Core i7-1...,4.6 out of 5 stars,"₹56,990"
5,Dell 14 (2021) i7-1195G7 2in1 Touch Screen Lap...,4.0 out of 5 stars,"₹95,890"
6,(Renewed) Lenovo Intel 5th Gen Core i7 14 Inch...,3.9 out of 5 stars,"₹43,999"
7,"ASUS TUF Dash F15 15.6-inch FHD 144Hz, Intel C...",4.3 out of 5 stars,"₹85,590"
8,(Renewed) Lenovo Intel 5th Gen Core i7 14 Inch...,4.4 out of 5 stars,"₹42,999"
9,(Renewed) Lenovo Intel 5th Gen Core i7 14 Inch...,4.4 out of 5 stars,"₹41,999"

# Question 9

In [84]:
# Initialize Chrome Web Driver
driver = webdriver.Chrome(r"C:\Users\Bhabani\Downloads\chromedriver_win32\chromedriver.exe")
# Open Ambitionbox Portal https://www.ambitionbox.com/
driver.get("https://www.ambitionbox.com/")

In [85]:
# Find Jobs link and click on it
jobs = driver.find_element_by_xpath('//a[@class="link jobs"]')
jobs.click()

url=driver.current_url
driver.get(url)

In [86]:
# Find search input box
search_tag = driver.find_element_by_xpath('//input[@class="input tt-input"]')
search_tag.send_keys("Data Scientist")

# Find Search Button and click on it
search_btn=driver.find_element_by_xpath("//div[@class='wrapper']/button")
search_btn.click()

In [87]:
#Click on Location filter and enter Noida
location = driver.find_elements_by_xpath('//div[@class="fitler-text"]')[1]
location.click()
location_search = driver.find_element_by_xpath('//input[@placeholder="Search locations"]')
location_search.send_keys("Noida")
#Select Noida location
noida = driver.find_element_by_xpath('//input[@id="location_Noida"]')
noida.click()

In [89]:
# Initialise the Job search list for titles,company,location and experience
job_list=[]
company_list=[]
rating_list=[]
locations_list=[]

In [90]:
# Find the all the tags for the Job Info via xpath and print to check
Job_info=driver.find_elements_by_xpath("//div[@class='info']/h2/a")
Job_info[0:10]

# From the Job Info get the text data in a loop and then print to check
for i in Job_info:
    job_list.append(i.text)
job_list[0:10]

['Data Scientist',
 'Urgent Requirement || Data Scientist || Noida',
 'Group Lead-Data Scientist',
 'Jubilant FoodWorks - Data Scientist - Deep Learning (2-6 yrs)',
 'Urgent Vacancy || Data Scientist || Noida',
 'Urgent Requirement || Data Scientist || Noida',
 'Senior Data Scientist',
 'Manager - Data Scientist - Retail/BFSI (8-15 yrs)',
 'Data Scientist - Machine Learning (5-14 yrs)',
 'Data Scientist - Data Science/Model Development (0-6 yrs)']

In [91]:
#Extract Company And Rating data from company info
company_data = driver.find_elements_by_xpath('//div[@class="info"]/div[@class="company-info"]')
company_data[0:10]
for i in company_data:
    data = i.text.split('\n')
    company_list.append(data[0])    
    rating_list.append(data[1])
company_list[0:10]
rating_list[0:10]

['4.1', '4.1', '4.1', '3.9', '4.1', '4.1', '3.8', '3.9', '4.2', '3.9']

In [92]:
# Find the all the tags for the Job Location via xpath and print to check

location_tags=driver.find_elements_by_xpath("//div[@class='entity loc']/p")

# From the location tags get the text data in a loop and then print to check

for i in location_tags:
    locations_list.append(i.text)
locations_list[1:11]

['Noida, Gurgaon/Gurugram',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Chennai, Hyderabad/Secunderabad, Noida',
 'Delhi NCR, Noida, Gurgaon/Gurugram +4 more',
 'Bengaluru/Bangalore, Noida',
 'Gurgaon/Gurugram, Noida']

In [93]:
# Check the length of the list of each element
print(len(job_list),len(company_list),len(locations_list),len(rating_list))

10 10 11 10

In [94]:
#Create DataFrame from the Top 10 Data and display

job = pd.DataFrame({})
job['Title'] = job_list[0:10]
job['Company Name'] = company_list[0:10]
job['Location'] = locations_list[0:10]
job['Rating'] = rating_list[0:10]

job

,Title,Company Name,Location,Rating
0,Data Scientist,Optum Global Solutions (India) Private Limited,"Noida, Gurgaon/Gurugram",4.1
1,Urgent Requirement || Data Scientist || Noida,Steria India Ltd,"Noida, Gurgaon/Gurugram",4.1
2,Group Lead-Data Scientist,Ameriprise Financial,Noida,4.1
3,Jubilant FoodWorks - Data Scientist - Deep Lea...,Jubilant Foodworks Limited,Noida,3.9
4,Urgent Vacancy || Data Scientist || Noida,Steria India Ltd,Noida,4.1
5,Urgent Requirement || Data Scientist || Noida,Steria India Ltd,Noida,4.1
6,Senior Data Scientist,HCL Technologies Limited,Noida,3.8
7,Manager - Data Scientist - Retail/BFSI (8-15 yrs),GI Group,"Chennai, Hyderabad/Secunderabad, Noida",3.9
8,Data Scientist - Machine Learning (5-14 yrs),Zyoin,"Delhi NCR, Noida, Gurgaon/Gurugram +4 more",4.2
9,Data Scientist - Data Science/Model Developmen...,GI Group,"Bengaluru/Bangalore, Noida",3.9

# Question 10

In [123]:
# Initialize Chrome Web Driver
driver = webdriver.Chrome(r"C:\Users\Bhabani\Downloads\chromedriver_win32\chromedriver.exe")
# Open Ambitionbox Portal https://www.ambitionbox.com/
driver.get("https://www.ambitionbox.com/")

In [124]:
# Find Salaries link and click on it
driver.find_element_by_xpath('//a[@title="Company Salaries"]').click()

url=driver.current_url
driver.get(url)

In [125]:
# Find search input box
search_tag = driver.find_element_by_xpath('//input[@id="jobProfileSearchbox"]')
# Input text "Data Scientist"
search_tag.send_keys("Data Scientist")

In [126]:
#Click on Suggestion
driver.find_elements_by_xpath('//div[@class="suggestion_wrap tt-suggestion tt-selectable"]')[0].click()

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=95.0.4638.69)
Stacktrace:
Backtrace:
	Ordinal0 [0x00320C43+2493507]
	Ordinal0 [0x002BA4B1+2073777]
	Ordinal0 [0x001C24D0+1058000]
	Ordinal0 [0x001ED914+1235220]
	Ordinal0 [0x001E3787+1193863]
	Ordinal0 [0x00205943+1333571]
	Ordinal0 [0x001E35A6+1193382]
	Ordinal0 [0x00205A2A+1333802]
	Ordinal0 [0x00215038+1396792]
	Ordinal0 [0x0020580B+1333259]
	Ordinal0 [0x001E2314+1188628]
	Ordinal0 [0x001E316F+1192303]
	GetHandleVerifier [0x004A7BF6+1548950]
	GetHandleVerifier [0x0055461C+2256060]
	GetHandleVerifier [0x003AC13B+518107]
	GetHandleVerifier [0x003AB1E0+514176]
	Ordinal0 [0x002BF53D+2094397]
	Ordinal0 [0x002C3418+2110488]
	Ordinal0 [0x002C3552+2110802]
	Ordinal0 [0x002CCE81+2150017]
	BaseThreadInitThunk [0x7586FA29+25]
	RtlGetAppContainerNamedObjectPath [0x77127A9E+286]
	RtlGetAppContainerNamedObjectPath [0x77127A6E+238]
	(No symbol) [0x00000000]

In [127]:
#creating empty list
company_list = []
salary_rcord_list = []
average_list = []
minimum_list = []
maximum_list = []
experience_list = []


#Extract Company Name And Salary Records
company_data = driver.find_elements_by_xpath('//div[@class="name"]')
for i in company_data:
    data = i.text.split('\n')
    company_list.append(data[0])    
    salary_rcord_list.append(data[1])
    
#Extract experience required    
experience_data = driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
for i in experience_data:
    data = i.text.split('\n')
    experience_list.append(data[2])

#Extract average salary, minimum salary, maximum salary    
salary_data = driver.find_elements_by_xpath('//div[@class="salary-range-wrapper"]')
for i in salary_data:
    data = i.text.split('\n')
    average_list.append(data[0])
    minimum_list.append(data[1])
    maximum_list.append(data[2])

# Prepare Data Frame
df = pd.DataFrame({'Company Name': company_list[0:10], 'Salary Record': salary_rcord_list[0:10], 'Average Salary':average_list, 'Minimum Salary':minimum_list[0:10], 'Maximum Salary':maximum_list, 'Experience Require':experience_list})
df

,Company Name,Salary Record,Average Salary,Minimum Salary,Maximum Salary,Experience Require
0,Microsoft Corporation,based on 209 salaries,₹ 22.4L,₹ 12.0L,₹ 45.0L,1-4 yrs exp
1,Goldman Sachs,based on 10 salaries,₹ 21.2L,₹ 16.0L,₹ 30.0L,2 yrs exp
2,Flipkart,based on 51 salaries,₹ 20.8L,₹ 7.0L,₹ 30.0L,1-4 yrs exp
3,Amazon,based on 75 salaries,₹ 19.2L,₹ 8.0L,₹ 40.0L,1-4 yrs exp
4,Servicenow Software Development India,based on 25 salaries,₹ 18.2L,₹ 13.0L,₹ 25.0L,2-3 yrs exp
5,ServiceNow,based on 15 salaries,₹ 18.0L,₹ 11.2L,₹ 23.0L,3 yrs exp
6,Walmart,based on 70 salaries,₹ 17.9L,₹ 10.0L,₹ 32.0L,1-4 yrs exp
7,Arcesium,based on 54 salaries,₹ 17.7L,₹ 12.0L,₹ 30.0L,1-2 yrs exp
8,PayPal,based on 12 salaries,₹ 17.6L,₹ 12.0L,₹ 23.0L,1 yr exp
9,Visa,based on 26 salaries,₹ 17.1L,₹ 13.0L,₹ 23.0L,1-2 yrs exp